/** SCHRIFTFARBEN **/
$rixWeiss: #F0F5D7;
$rixRot: #D70005;
$rixRot2: #B22222;
$rixBlau: #4682B4;
$rixBlau2: #483D8B;
$rixBlau3: #9BDFFF;
$rixGruen: #5B8E29;
$rixDunkelViolett: #5A2776;
$rixViolett: #9c2c94;
$rixLila: #CF77C9;
$rixFlieder: #F6B6FF;

/** TEXTFARBEN **/
.text-rix-weiss { color: $rixWeiss; }
.text-rix-rot { color: $rixRot; }
.text-rix-rot2 { color: $rixRot2; }
.text-rix-blau { color: $rixBlau; }
.text-rix-blau2 { color: $rixBlau2; }
.text-rix-blau3 { color: $rixBlau3; }
.text-rix-gruen { color: $rixGruen; }
.text-rix-dunkel-violett { color: $rixDunkelViolett; }
.text-rix-violett { color: $rixViolett; }
.text-rix-lila { color: $rixLila; }
.text-rix-flieder { color: $rixFlieder; }

/** HINTERGRUNDFARBEN **/
.bg-rix-weiss { background-color: $rixWeiss; }
.bg-rix-rot { background-color: $rixRot; }
.bg-rix-rot2 { background-color: $rixRot2; }
.bg-rix-blau { background-color: $rixBlau; }
.bg-rix-blau2 { background-color: $rixBlau2; }
.bg-rix-blau3 { background-color: $rixBlau3; }
.bg-rix-gruen { background-color: $rixGruen; }
.bg-rix-dunkel-violett { background-color: $rixDunkelViolett; }
.bg-rix-violett { background-color: $rixViolett; }
.bg-rix-lila { background-color: $rixLila; }
.bg-rix-flieder { background-color: $rixFlieder; }
